@charset "UTF-8";
@import url(" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=settings" );


* {
    margin: 0px;
    padding: 0px;
}
html,body {
    min-height: 100vh;
    background-color: darkgrey;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header>h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header>p {
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a :hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2cm;
    padding-left: 30px;
}
section.normal {
       background-color: white;
       color: black;
}
section.imagem {
    background-color: rgba(43, 21, 21, 0.378);
    color: white;
}
section.imagem > p {
    width: 400px;
    background-color: rgba(56, 55, 55, 0.986);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}